# Clocks
NET "CLK50" PERIOD = 20 ns |LOC = "K3" |IOSTANDARD=LVTTL;
#NET "CLK32" PERIOD = 31.25 ns | LOC = "J4";
# LEDs
NET "LEDS<0>" LOC="P11" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
NET "LEDS<1>" LOC="N9"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
NET "LEDS<2>" LOC="M9"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
NET "LEDS<3>" LOC="P9"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
NET "LEDS<4>" LOC="T8"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
NET "LEDS<5>" LOC="N8"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
NET "LEDS<6>" LOC="P8"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
NET "LEDS<7>" LOC="P7"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;

# Flash
#NET "FLASH_CS"   LOC="T3"  | IOSTANDARD=LVTTL;
#NET "FLASH_CCLK" LOC="R11" | IOSTANDARD=LVTTL;
#NET "FLASH_MOSI" LOC="T10" | IOSTANDARD=LVTTL;
#NET "FLASH_MISO" LOC="P10" | IOSTANDARD=LVTTL;
# ADC
#NET "AD_DOUT" LOC="H5" | IOSTANDARD=LVTTL;
#NET "AD_DIN"  LOC="H4" | IOSTANDARD=LVTTL;
#NET "AD_CS"   LOC="F6" | IOSTANDARD=LVTTL;
#NET "AD_SCLK" LOC="G6" | IOSTANDARD=LVTTL;
# DIP Switches
#NET "SW<1>"   LOC="L1" | IOSTANDARD=LVTTL | PULLUP;
#NET "SW<2>"   LOC="L3" | IOSTANDARD=LVTTL | PULLUP;
#NET "SW<3>"   LOC="L4" | IOSTANDARD=LVTTL | PULLUP;
#NET "SW<4>"   LOC="L5" | IOSTANDARD=LVTTL | PULLUP;

# micro SD Card
#NET "SD_CLK"     LOC="L12" | IOSTANDARD=LVTTL; # 5
#NET "SD_CD_DAT3" LOC="K12" | IOSTANDARD=LVTTL; # 1
#NET "SD_DAT0"    LOC="M10" | IOSTANDARD=LVTTL; # 7
#NET "SD_DAT1"    LOC="L10" | IOSTANDARD=LVTTL; # 8
#NET "SD_DAT2"    LOC="J11" | IOSTANDARD=LVTTL; # 9
#NET "SD_CMD"     LOC="K11" | IOSTANDARD=LVTTL; # 2

NET "SD_SCLK"     LOC="L12" | IOSTANDARD=LVTTL;
NET "SD_nCS"      LOC="K12" | IOSTANDARD=LVTTL;
NET "SD_MISO"     LOC="M10" | IOSTANDARD=LVTTL;
NET "SD_MOSI"     LOC="K11" | IOSTANDARD=LVTTL;


# SDRAM
NET "SDRAM_DQM<1>"    LOC="F15"   |IOSTANDARD=LVTTL;
NET "SDRAM_CLK" LOC="G16" |IOSTANDARD=LVTTL;
NET "SDRAM_CKE"     LOC="H16"   |IOSTANDARD=LVTTL;
NET "SDRAM_BA<1>"     LOC="T14"   |IOSTANDARD=LVTTL;
NET "SDRAM_BA<0>"     LOC="R14"   |IOSTANDARD=LVTTL;
NET "SDRAM_nCS" LOC="R1"  |IOSTANDARD=LVTTL;
NET "SDRAM_nRAS"    LOC="R2"    |IOSTANDARD=LVTTL;
NET "SDRAM_nCAS"    LOC="T4"    |IOSTANDARD=LVTTL;
NET "SDRAM_nWE"     LOC="R5"    |IOSTANDARD=LVTTL;
NET "SDRAM_DQM<0>"    LOC="T5"    |IOSTANDARD=LVTTL;
NET "A<0>"    LOC="T15"   |IOSTANDARD=LVTTL;
NET "A<1>"    LOC="R16"   |IOSTANDARD=LVTTL;
NET "A<2>"    LOC="P15"   |IOSTANDARD=LVTTL;
NET "A<3>"    LOC="P16"   |IOSTANDARD=LVTTL;
NET "A<4>"    LOC="N16"   |IOSTANDARD=LVTTL;
NET "A<5>"    LOC="M15"   |IOSTANDARD=LVTTL;
NET "A<6>"    LOC="M16"   |IOSTANDARD=LVTTL;
NET "A<7>"    LOC="L16"   |IOSTANDARD=LVTTL;
NET "A<8>"    LOC="K15"   |IOSTANDARD=LVTTL;
NET "A<9>"    LOC="K16"   |IOSTANDARD=LVTTL;
NET "A<10>"   LOC="R15"   |IOSTANDARD=LVTTL;
NET "A<11>"   LOC="J16"   |IOSTANDARD=LVTTL;
NET "A<12>"   LOC="H15"   |IOSTANDARD=LVTTL;
NET "D<0>"    LOC="T13"   |IOSTANDARD=LVTTL;
NET "D<1>"    LOC="T12"   |IOSTANDARD=LVTTL;
NET "D<2>"    LOC="R12"   |IOSTANDARD=LVTTL;
NET "D<3>"    LOC="T9"    |IOSTANDARD=LVTTL;
NET "D<4>"    LOC="R9"    |IOSTANDARD=LVTTL;
NET "D<5>"    LOC="T7"    |IOSTANDARD=LVTTL;
NET "D<6>"    LOC="R7"    |IOSTANDARD=LVTTL;
NET "D<7>"    LOC="T6"    |IOSTANDARD=LVTTL;
NET "D<8>"    LOC="F16"   |IOSTANDARD=LVTTL;
NET "D<9>"    LOC="E15"   |IOSTANDARD=LVTTL;
NET "D<10>"   LOC="E16"   |IOSTANDARD=LVTTL;
NET "D<11>"   LOC="D16"   |IOSTANDARD=LVTTL;
NET "D<12>"   LOC="B16"   |IOSTANDARD=LVTTL;
NET "D<13>"   LOC="B15"   |IOSTANDARD=LVTTL;
NET "D<14>"   LOC="C16"   |IOSTANDARD=LVTTL;
NET "D<15>"   LOC="C15"   |IOSTANDARD=LVTTL;

# Audio Pins
#NET "AUDIO1" LOC="B8" | IOSTANDARD=LVTTL;
#NET "AUDIO2" LOC="A8" | IOSTANDARD=LVTTL;
# HDMI In (J2)
#NET "TMDS_in_P(0)"  LOC="C7" | IOSTANDARD=TMDS_33;
#NET "TMDS_in_N(0)"  LOC="A7" | IOSTANDARD=TMDS_33;
#NET "TMDS_in_P(1)"  LOC="B6" | IOSTANDARD=TMDS_33;
#NET "TMDS_in_N(1)"  LOC="A6" | IOSTANDARD=TMDS_33;
#NET "TMDS_in_P(2)"  LOC="B5" | IOSTANDARD=TMDS_33;
#NET "TMDS_in_N(2)"  LOC="A5" | IOSTANDARD=TMDS_33;
#NET "TMDS_in_CLK_P" LOC="C9" | IOSTANDARD=TMDS_33;
#NET "TMDS_in_CLK_N" LOC="A9" | IOSTANDARD=TMDS_33;
#NET "FPGA_SCL" LOC="C1" | IOSTANDARD=LVTTL;
#NET "FPGA_SDA" LOC="B1" | IOSTANDARD=LVTTL;

# FTDI
#NET "FTDI_RXF"   LOC="N3" | IOSTANDARD=LVTTL;
#NET "FTDI_TXE"   LOC="N1" | IOSTANDARD=LVTTL;
#NET "FTDI_SIWUA" LOC="M3" | IOSTANDARD=LVTTL;
#NET "FTDI_WR"    LOC="M2" | IOSTANDARD=LVTTL;
#NET "FTDI_RD"    LOC="M1" | IOSTANDARD=LVTTL;
#NET "FTDI_D<0>"  LOC="M7" | IOSTANDARD=LVTTL;
#NET "FTDI_D<1>"  LOC="N6" | IOSTANDARD=LVTTL;
#NET "FTDI_D<2>"  LOC="M6" | IOSTANDARD=LVTTL;
#NET "FTDI_D<3>"  LOC="P5" | IOSTANDARD=LVTTL;
#NET "FTDI_D<4>"  LOC="N5" | IOSTANDARD=LVTTL;
#NET "FTDI_D<5>"  LOC="P4" | IOSTANDARD=LVTTL;
#NET "FTDI_D<6>"  LOC="P2" | IOSTANDARD=LVTTL;
#NET "FTDI_D<7>"  LOC="P1" | IOSTANDARD=LVTTL;
# Port A I/O Pins
NET "zD<1>"  LOC="E7"  |IOSTANDARD=LVTTL;
NET "zD<3>"  LOC="C8"  |IOSTANDARD=LVTTL;
NET "zD<0>"  LOC="D8"  |IOSTANDARD=LVTTL;
NET "zD<5>"  LOC="E8"  |IOSTANDARD=LVTTL;
NET "zD<11>"  LOC="D9"  |IOSTANDARD=LVTTL;
NET "zD<6>"  LOC="A10" |IOSTANDARD=LVTTL;
NET "zD<13>"  LOC="B10" |IOSTANDARD=LVTTL;
NET "zD<8>"  LOC="C10" |IOSTANDARD=LVTTL;
NET "zD<14>"  LOC="E10" |IOSTANDARD=LVTTL;
NET "zD<9>"  LOC="F9"  |IOSTANDARD=LVTTL;
NET "zD<15>" LOC="F10" |IOSTANDARD=LVTTL;
NET "zD<10>" LOC="D11" |IOSTANDARD=LVTTL;

# Port B I/O Pins
NET "zD<2>"  LOC="E11" |IOSTANDARD=LVTTL;
NET "znAS"  LOC="D14" |IOSTANDARD=LVTTL;
NET "zD<12>"  LOC="D12" |IOSTANDARD=LVTTL;
NET "zA<21>"  LOC="E12" |IOSTANDARD=LVTTL;
NET "zD<4>"  LOC="E13" |IOSTANDARD=LVTTL;
NET "zA<12>"  LOC="F13" |IOSTANDARD=LVTTL;
NET "zD<7>"  LOC="F12" |IOSTANDARD=LVTTL;
NET "zA<8>"  LOC="F14" |IOSTANDARD=LVTTL;
NET "zA<16>"  LOC="G12" |IOSTANDARD=LVTTL;
NET "znCFGIN"  LOC="G14" |IOSTANDARD=LVTTL;
NET "zA<1>" LOC="H14" |IOSTANDARD=LVTTL;
NET "zDOE" LOC="J14" |IOSTANDARD=LVTTL;

# zXRDY vs videoB3 @ M11

# Port C I/O Pins
NET "uartRX"  LOC="J13" | IOSTANDARD=LVTTL; # C0
NET "uartTX"  LOC="J12" | IOSTANDARD=LVTTL; # C1

#NET "videoR0"  LOC="J13" | IOSTANDARD=LVTTL; # C0
#NET "videoR1"  LOC="J12" | IOSTANDARD=LVTTL; # C1

NET "zA<0>" LOC="K14" |IOSTANDARD=LVTTL;
#NET "videoR2"  LOC="K14" | IOSTANDARD=LVTTL; # C2
NET "videoR3"  LOC="L14" | IOSTANDARD=LVTTL; # C3
NET "videoG0"  LOC="L13" | IOSTANDARD=LVTTL;
NET "videoG1"  LOC="M14" | IOSTANDARD=LVTTL;
NET "videoG2"  LOC="M13" | IOSTANDARD=LVTTL; # c6 vsync
NET "videoG3"  LOC="N14" | IOSTANDARD=LVTTL; # c7 r3
NET "videoB0"  LOC="M12" | IOSTANDARD=LVTTL; # c8 hsync
NET "videoB1"  LOC="N12" | IOSTANDARD=LVTTL; # c9 g3
NET "znCFGOUT" LOC="P12" | IOSTANDARD=LVTTL; # c10 b2
NET "zxRDY" LOC="M11" | IOSTANDARD=LVTTL; # c11 b3
# Port D I/O Pins
NET "znSLAVEN"  LOC="D6" |IOSTANDARD=LVTTL;
NET "videoHS"  LOC="C6" | IOSTANDARD=LVTTL;
NET "zDIR"  LOC="E6" |IOSTANDARD=LVTTL;
NET "videoVS"  LOC="C5" | IOSTANDARD=LVTTL;
# Port E I/O Pins
NET "znBERR"  LOC="D5" |IOSTANDARD=LVTTL;
NET "zA<15>"  LOC="A4" |IOSTANDARD=LVTTL;
NET "znRST"  LOC="G5" |IOSTANDARD=LVTTL;
NET "zA<14>"  LOC="A3" |IOSTANDARD=LVTTL;
NET "zE7M"  LOC="B3" |IOSTANDARD=LVTTL;
NET "zA<13>"  LOC="A2" |IOSTANDARD=LVTTL;
NET "zA<23>"  LOC="B2" |IOSTANDARD=LVTTL;
NET "zA<2>"  LOC="C3" |IOSTANDARD=LVTTL;
NET "zA<22>"  LOC="C2" |IOSTANDARD=LVTTL;
NET "zA<6>"  LOC="D3" |IOSTANDARD=LVTTL;
NET "zA<17>" LOC="D1" |IOSTANDARD=LVTTL;
NET "zA<5>" LOC="E3" |IOSTANDARD=LVTTL;

# Port F I/O Pins
NET "znUDS"  LOC="E2" |IOSTANDARD=LVTTL;
NET "zA<11>"  LOC="E1" |IOSTANDARD=LVTTL;
NET "znLDS"  LOC="E4" |IOSTANDARD=LVTTL;
NET "zA<10>"  LOC="F4" |IOSTANDARD=LVTTL;
NET "zREAD"  LOC="F5" |IOSTANDARD=LVTTL;
NET "zA<9>"  LOC="G3" |IOSTANDARD=LVTTL;
NET "zA<20>"  LOC="F3" |IOSTANDARD=LVTTL;
NET "zA<7>"  LOC="G1" |IOSTANDARD=LVTTL;
NET "zA<19>"  LOC="H3" |IOSTANDARD=LVTTL;
NET "zA<3>"  LOC="H1" |IOSTANDARD=LVTTL;
NET "zA<18>" LOC="H2" |IOSTANDARD=LVTTL;
NET "zA<4>" LOC="J1" |IOSTANDARD=LVTTL;


#VCCAUX = 3.3;

#NET "TMDS_in_P<0>"  LOC = "C7" |IOSTANDARD = TMDS_33 ; # Blue
#NET "TMDS_in_N<0>"  LOC = "A7" |IOSTANDARD = TMDS_33 ;
#NET "TMDS_in_P<1>"  LOC = "B6" |IOSTANDARD = TMDS_33 ; # Red
#NET "TMDS_in_N<1>"  LOC = "A6" |IOSTANDARD = TMDS_33 ;
#NET "TMDS_in_P<2>"  LOC = "B5" |IOSTANDARD = TMDS_33 ; # Green
#NET "TMDS_in_N<2>"  LOC = "A5" |IOSTANDARD = TMDS_33 ;
#NET "TMDS_in_P<3>"  LOC = "C9" |IOSTANDARD = TMDS_33 ; # Clock
#NET "TMDS_in_N<3>"  LOC = "A9" |IOSTANDARD = TMDS_33 ;

# HDMI Out (J3)
NET "TMDS_out_P<0>"  LOC = "C13" |IOSTANDARD = TMDS_33 ; # Blue
NET "TMDS_out_N<0>"  LOC = "A13" |IOSTANDARD = TMDS_33 ;
NET "TMDS_out_P<1>"  LOC = "B12" |IOSTANDARD = TMDS_33 ; # Red
NET "TMDS_out_N<1>"  LOC = "A12" |IOSTANDARD = TMDS_33 ;
NET "TMDS_out_P<2>"  LOC = "C11" |IOSTANDARD = TMDS_33 ; # Green
NET "TMDS_out_N<2>"  LOC = "A11" |IOSTANDARD = TMDS_33 ;
NET "TMDS_out_P<3>"  LOC = "B14" |IOSTANDARD = TMDS_33 ; # Clock
NET "TMDS_out_N<3>"  LOC = "A14" |IOSTANDARD = TMDS_33 ;

#PIN "dvid_out/Inst_dvid_out_clocking/BUFPLL_inst.IOCLK" CLOCK_DEDICATED_ROUTE = FALSE;
#PIN "dvid_out/output_serialiser_g/OSERDES2_slave.CLK0" CLOCK_DEDICATED_ROUTE = FALSE; 

#Created by Constraints Editor (xc6slx9-ftg256-3) - 2016/03/27
NET "dvid_out/ser_in_green<0>" TIG;
NET "dvid_out/ser_in_green<1>" TIG;
NET "dvid_out/ser_in_green<2>" TIG;
NET "dvid_out/ser_in_green<3>" TIG;
NET "dvid_out/ser_in_green<4>" TIG;
NET "dvid_out/ser_in_blue<0>" TIG;
NET "dvid_out/ser_in_blue<1>" TIG;
NET "dvid_out/ser_in_blue<2>" TIG;
NET "dvid_out/ser_in_blue<3>" TIG;
NET "dvid_out/ser_in_blue<4>" TIG;
NET "dvid_out/ser_in_red<0>" TIG;
NET "dvid_out/ser_in_red<1>" TIG;
NET "dvid_out/ser_in_red<2>" TIG;
NET "dvid_out/ser_in_red<3>" TIG;
NET "dvid_out/ser_in_red<4>" TIG;
NET "dvid_out/ser_in_clock<0>" TIG;
NET "dvid_out/ser_in_clock<1>" TIG;
NET "dvid_out/ser_in_clock<2>" TIG;
NET "dvid_out/ser_in_clock<3>" TIG;
NET "dvid_out/ser_in_clock<4>" TIG;

NET "dvid_out/fifo_out<0>" TIG;
NET "dvid_out/fifo_out<1>" TIG;
NET "dvid_out/fifo_out<2>" TIG;
NET "dvid_out/fifo_out<3>" TIG;
NET "dvid_out/fifo_out<4>" TIG;
NET "dvid_out/fifo_out<5>" TIG;
NET "dvid_out/fifo_out<6>" TIG;
NET "dvid_out/fifo_out<7>" TIG;
NET "dvid_out/fifo_out<8>" TIG;
NET "dvid_out/fifo_out<9>" TIG;
NET "dvid_out/fifo_out<10>" TIG;
NET "dvid_out/fifo_out<11>" TIG;
NET "dvid_out/fifo_out<12>" TIG;
NET "dvid_out/fifo_out<13>" TIG;
NET "dvid_out/fifo_out<14>" TIG;
NET "dvid_out/fifo_out<15>" TIG;
NET "dvid_out/fifo_out<16>" TIG;
NET "dvid_out/fifo_out<17>" TIG;
NET "dvid_out/fifo_out<18>" TIG;
NET "dvid_out/fifo_out<19>" TIG;
NET "dvid_out/fifo_out<20>" TIG;
NET "dvid_out/fifo_out<21>" TIG;
NET "dvid_out/fifo_out<22>" TIG;
NET "dvid_out/fifo_out<23>" TIG;
NET "dvid_out/fifo_out<24>" TIG;
NET "dvid_out/fifo_out<25>" TIG;
NET "dvid_out/fifo_out<26>" TIG;
NET "dvid_out/fifo_out<27>" TIG;
NET "dvid_out/fifo_out<28>" TIG;
NET "dvid_out/fifo_out<29>" TIG;
NET "dvid_out/fifo_out[4]_fifo_out[9]_mux_4_OUT<0>" TIG;
NET "dvid_out/fifo_out[4]_fifo_out[9]_mux_4_OUT<1>" TIG;
NET "dvid_out/fifo_out[4]_fifo_out[9]_mux_4_OUT<2>" TIG;
NET "dvid_out/fifo_out[4]_fifo_out[9]_mux_4_OUT<3>" TIG;
NET "dvid_out/fifo_out[4]_fifo_out[9]_mux_4_OUT<4>" TIG;
NET "dvid_out/fifo_out[14]_fifo_out[19]_mux_3_OUT<0>" TIG;
NET "dvid_out/fifo_out[14]_fifo_out[19]_mux_3_OUT<1>" TIG;
NET "dvid_out/fifo_out[14]_fifo_out[19]_mux_3_OUT<2>" TIG;
NET "dvid_out/fifo_out[14]_fifo_out[19]_mux_3_OUT<3>" TIG;
NET "dvid_out/fifo_out[14]_fifo_out[19]_mux_3_OUT<4>" TIG;
NET "dvid_out/fifo_out[24]_fifo_out[29]_mux_2_OUT<0>" TIG;
NET "dvid_out/fifo_out[24]_fifo_out[29]_mux_2_OUT<1>" TIG;
NET "dvid_out/fifo_out[24]_fifo_out[29]_mux_2_OUT<2>" TIG;
NET "dvid_out/fifo_out[24]_fifo_out[29]_mux_2_OUT<3>" TIG;
NET "dvid_out/fifo_out[24]_fifo_out[29]_mux_2_OUT<4>" TIG;
NET "dvid_out/out_fifo/N1" TIG;
NET "dvid_out/out_fifo/N01" TIG;
NET "dvid_out/out_fifo/N2" TIG;
NET "dvid_out/out_fifo/Result<1>" TIG;
NET "dvid_out/out_fifo/Result<2>" TIG;
NET "dvid_out/out_fifo/Result<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/D<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/D<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/D<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].rd_stg_inst/D<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/D<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/D<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/D<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[1].wr_stg_inst/D<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/D<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/D<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/D<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/D<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].rd_stg_inst/Q_reg<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/D<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/D<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/D<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/D<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/gsync_stage[2].wr_stg_inst/Q_reg<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/RD_PNTR[0]_RD_PNTR[1]_XOR_12_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/RD_PNTR[1]_RD_PNTR[2]_XOR_11_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/RD_PNTR[2]_RD_PNTR[3]_XOR_10_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_bin<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_asreg_last[3]_reduce_xor_11_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_asreg_last[3]_reduce_xor_12_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/rd_pntr_gc_asreg_last[3]_reduce_xor_13_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/WR_PNTR[0]_WR_PNTR[1]_XOR_3_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/WR_PNTR[1]_WR_PNTR[2]_XOR_2_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/WR_PNTR[2]_WR_PNTR[3]_XOR_1_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_bin<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_asreg_last[3]_reduce_xor_6_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_asreg_last[3]_reduce_xor_7_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gcx.clkx/wr_pntr_gc_asreg_last[3]_reduce_xor_8_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/adjusted_wr_pntr_rd_pad[4]_rd_pntr_inv_pad[4]_add_3_OUT<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/adjusted_wr_pntr_rd_pad[4]_rd_pntr_inv_pad[4]_add_3_OUT<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/adjusted_wr_pntr_rd_pad[4]_rd_pntr_inv_pad[4]_add_3_OUT<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/adjusted_wr_pntr_rd_pad[4]_rd_pntr_inv_pad[4]_add_3_OUT<4>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/diff_pntr_pad<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/diff_pntr_pad<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/diff_pntr_pad<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/diff_pntr_pad<4>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/Madd_adjusted_wr_pntr_rd_pad[4]_rd_pntr_inv_pad[4]_add_3_OUT_cy<3>1" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.gpe.rdpe/prog_empty_i_glue_rst" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.rsts/comp0_comp1_OR_3_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.rsts/comp0_comp1_OR_3_o1" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.rsts/comp0_comp1_OR_3_o2" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.rsts/comp0_comp1_OR_3_o3" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.rsts/ram_empty_fb_i" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/gras.rsts/ram_empty_i" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_0_1" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.rd/rpntr/gc0.count_d1_0_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwas.wsts/comp1_comp2_OR_5_o" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwas.wsts/comp1_comp2_OR_5_o2" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwas.wsts/ram_full_fb_i" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/gwas.wsts/ram_full_i" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d1<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/gic0.gc0.count_d2<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/Result<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/Result<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/Result<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wpntr/Result<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.gl0.wr/wr_pntr_plus2<1>_inv" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_0_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_1_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_2_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_3_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_4_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_5_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_6_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_7_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_8_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_9_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_10_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_11_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_12_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_13_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_14_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_15_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_16_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_17_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_18_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_19_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_20_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_21_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_22_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_23_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_24_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_25_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_26_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_27_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_28_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/dout_i_29_dpot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<0>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<1>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<2>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<3>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<4>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<5>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<6>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<7>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<8>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<9>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<10>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<11>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<12>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<13>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<14>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<15>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<16>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<17>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<18>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<19>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<20>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<21>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<22>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<23>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<24>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<25>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<26>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<27>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<28>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/gdm.dm/_n0013<29>" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/ram_rd_en_i" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/gntv_or_sync_fifo.mem/ram_rd_en_i1_cepot" TIG;
NET "dvid_out/out_fifo/U0/xst_fifo_generator/gconvfifo.rf/grf.rf/ram_wr_en" TIG;
